body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    height: 100vh; /* Use the full height of the viewport */
    margin: 0;
}

#container {
    width: 90%;
    text-align: center;
}

#playArea {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#inputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin: 10px 0;
}

img {
    width: 300px;
    height: auto;
}